body {
    margin: 0px;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* HEADER AND HERO */

.header-and-hero{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    margin: 0px 10vw;
}

.hero-and-image {
    display: flex;
    flex-basis: 100%;
    margin: 0px 10vw;
}

.hero {
    width: 50%;
}

.hero-img {
    background-color: gainsboro;
    width: 50%;
    height: 100%;
}
/* RANDOM INFO */

.random-info {
    flex-basis: 100%;
    margin: 0px 10vw;
}

.random-info-h2 {
    text-align: center;
}

.random-info-imgs-container {
    display: flex;
    justify-content: center;
    gap: 32px; */
}

.img-container {
    height: 236px;
    width: 128px;
}

img {
    height: 128px;
    width: 128px;
}

.img-sub {
    text-align: center;
}

/*  QUOTE */

.quote {
    background-color: #E5E7EB;
}

.quote-p, .quote-signature {
    flex-basis: 100%;
    margin: 0px 10vw;
}

/* CALL TO ACTION */

.cta-box {
    flex-basis: 100%;
    margin: 0px 10vw;
    display: flex;
    background-color: #3882F6;
}

/* FOOTER */

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.footer-text {
    flex-basis: 100%;
    margin: 0px 10vw;
}